@import "tailwindcss";

@theme {
  --color-primary: #80feaa;
  --color-secondary: #49960b;
  --color-bg: #01130a;
  --color-text: #e8edf4;
  --color-accent: #2ec5fa;
  --background: var(--color-bg);
  --foreground: var(--color-text);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
