@import "tailwindcss";

@theme {
  --color-primary: #40f778;
  --color-secondary: #49960b;
  --color-bg: #01130a;
  --color-text: #e8edf4;
  --color-accent: #2ec5fa;
  --background: var(--color-bg);
  --foreground: var(--color-text);
  --color-dark: oklch(86.9% 0.005 56.366);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    font-family: var(--font-roboto), sans-serif;
    background: var(--background);
    color: var(--foreground);
  }
}

html {
  font-size: 100%;
}

@media (min-width: 1280px) {
  html {
    font-size: 102.25%; /* 17px */
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 104.5%; /* 18px */
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 108.75%; /* 19px */
  }
}
